.sc-launcher {
  width: 60px;
  height: 60px;
  background-color: #8DABBE !important;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  right: 25px;
  bottom: 25px;
  border-radius: 50%;
  box-shadow: none;
  transition: box-shadow 0.2s ease-in-out;
}

.sc-header {
  background: #8DABBE !important;
  min-height: 75px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  color: white;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,.2);
  position: relative;
  box-sizing: border-box;
  display: flex;
}

.sc-header--team-name:hover {
  background: #246C9D !important;
}

.sc-header--close-button:hover {
  background: #246C9D !important;
}


.sc-message--content.sent .sc-message--text {
  color: white;
  background-color: #8DABBE !important;
  max-width: calc(100% - 120px);
  word-wrap: break-word;
}

.sc-message--content.received .sc-message--text {
  color: #263238;
  background-color: #246C9D !important;
  margin-right: 40px;
}
